<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-3">NOT-E-BOOK</h1>
    <p class="lead">Keep learning!</p>
    <hr>
    <a class="back-home btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="back-home btn btn-success btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
